@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --bg-color: #F4F5F8;
  --sec-text-color: #BEC2C8;
}

.App {
  background-color: var(--bg-color);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

ul {
  list-style: none;
}

.board {
  display: flex;
  background-color: var(--bg-color);
  width: 92%;
  min-height: calc(100vh-30px);
  margin: auto;
  justify-content: flex-start;
  gap: 25px;
  padding: 20px 0px;
  overflow-x: scroll;
}

/* primary text   */
.txt {
  color: #3A3B41;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* secondary text  */
.sec_txt {
  font-size: 14px;
  color: var(--sec-text-color);
  font-weight: 600;
}

.icons {
  font-size: 20px;
  font-weight: bold;
}

.circle_box {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #BEC2C8;
  margin-right: 5px;
}
/* custom scroll bar  */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #5199E5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}

::-webkit-scrollbar-track {
  background-color: #f1eaea;
}